
/app/app-release.apk
/local.properties
/app/build/*
/gradle
/app/app.iml
/gradle.properties
/gradlew.bat
/sample.iml
/sample/build/*
/.gradle
/.idea
**/.DS_Store


/build
**/*.iml
library/build/
/gradlew
guillotine.apk